.border{
    border: 2px solid red;
    margin: 3px;
    padding: 2px;
}
.flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;    
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 8px;
}
.btn{
    display: flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    border: none;
    color: rgb(179, 179, 179);
    font-family:"Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
}